# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/
ENV/

# IDE
.idea/
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# Python cache
.pytest_cache/
.mypy_cache/

# Streamlit
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# Build files
build/
dist/
*.egg-info/

# Model files (ignore only if they are large)
*.joblib

# Misc
*.bak

#model
pipeline.pkl    
